<h1><%= @path %></h1>
<ul>
  <% tag = @path.split('/')[1]
if archives.length > 0
for entry in archives
if(entry.tags.include?(tag)) %>
      <li>
        <a href="<%= entry.path %>"><%= entry.title %></a>
      </li>
    <% end %>
  <% end %>
  <% end %>

</ul>

